<div ng-cloak>
    <div class="jumbotron" ng-if="!isAuthenticated()">
        <div class="container">
            <h1>Challenge Yourself</h1>
            <p>Setup your goal and hit it. Otherwise, donate to your favorite charity. Be happy in both cases!</p>
            <a class="btn btn-info btn-lg" ui-sref="register">Start a Challenge</a>
        </div>
    </div>

    <div class="container" style='margin-bottom: 50px' ng-if="!isAuthenticated()">
        <div class="row">
            <div class="col-md-3">
                <h3>Join hundreds of people running for a good cause</h3>
                <p class="" style="font-size:16px">This is all about challenging yourself and you know you're doing it for a good cause.
                Every time you do not reach your fitness goal, a donation is made on your behalf to the
                charity of your choice.</p>
            </div>
            <div class="col-md-5">
                <img class="img-thumbnail" src="/assets/images/group.jpg" style="margin-top: 20px;"/>
            </div>
            <div class="col-md-4">
                <div class="list-group" style="margin-top: 20px">
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">
                            <span class="pull-left glyphicon glyphicon-ok"></span>
                            Challenge your friends</h4>
                        <p class="list-group-item-text">Setup a group and challenge your friends to see who runs the most.</p>
                    </div>
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">
                            <span class="pull-left glyphicon glyphicon-ok"></span>
                            Challenge your friends</h4>
                        <p class="list-group-item-text">Setup a group and challenge your friends to see who runs the most.</p>
                    </div>
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">
                            <span class="pull-left glyphicon glyphicon-ok"></span>
                            Challenge your friends</h4>
                        <p class="list-group-item-text">Setup a group and challenge your friends to see who runs the most.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="isAuthenticated()" class="container" style='margin-top: 50px; margin-bottom: 50px'>
        <div class="row">
            <a class="btn btn-success btn-lg" ui-sref="newchallenge" ng-show="!currentChallenge">Start new challenge!</a>
            <!--a class="btn btn-success btn-lg" ui-sref="newdonation">Donate!</a-->
        </div>
        <div ng-show="currentChallenge">
            <h1>Your current progress:</h1>
            <div ng-repeat="p in progress">
                <h2 style="color: red; text-align: center">
                    <timer interval="1000" end-time="p.endTime">{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer>
                </h2>
            </div>
            <div style="text-align: center">
                <canvas id="myChart" height="400" width="600"></canvas>
            </div>

            <div ng-repeat="p in progress">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{p.percentsDone}}" aria-valuemin="0" aria-valuemax="100"
                         style="width: {{p.percentsDone}}%">
                        <span class="sr-only">{{p.percentsDone}}% Complete (success)</span>
                        {{p.percentsDone}}%
                    </div>

                    Run {{p.distanceLeft}} meters more or pay {{p.amount}}$
                </div>
            </div>
        </div>
        <div ng-show="finished" style="margin-top: 20px; margin-left: -15px">
            <div ng-repeat="f in finished">
                <div ng-if="f.payed" class="alert alert-danger">
                    You didn't run {{f.distance}} and payed {{f.amount}}$ for that.
                </div>
                <div ng-if="!f.payed" class="alert alert-success">
                    Congratulations! You successfully ran {{f.distance}}!
                </div>
            </div>
        </div>
    </div>
</div>
