<div ng-cloak>
    <div class="jumbotron" ng-if="!isAuthenticated()">
        <div class="container">
            <h1>Challenge Yourself</h1>
            <p>Setup your goal and hit it. Otherwise, donate to your favorite charity. Be happy in both cases!</p>
            <a class="btn btn-info btn-lg" ui-sref="register">Start a Challenge</a>
        </div>
    </div>

    <div class="container" style='margin-bottom: 50px' ng-if="!isAuthenticated()">
        <div class="row">
            <div class="col-md-3">
                <h3>Join hundreds of people running for a good cause</h3>
                <p class="" style="font-size:16px">This is all about challenging yourself and you know you're doing it for a good cause.
                Every time you do not reach your fitness goal, a donation is made on your behalf to the
                charity of your choice.</p>
            </div>
            <div class="col-md-5">
                <img class="img-thumbnail" src="/assets/images/group.jpg" style="margin-top: 20px;"/>
            </div>
            <div class="col-md-4">
                <div class="list-group" style="margin-top: 20px">
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">
                            <span class="pull-left glyphicon glyphicon-ok"></span>
                            Challenge your friends</h4>
                        <p class="list-group-item-text">Setup a group and challenge your friends to see who runs the most.</p>
                    </div>
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">
                            <span class="pull-left glyphicon glyphicon-ok"></span>
                            A wide range of charities</h4>
                        <p class="list-group-item-text">We provide a wide of charities that you can trust.</p>
                    </div>
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">
                            <span class="pull-left glyphicon glyphicon-ok"></span>
                            Keep healthy</h4>
                        <p class="list-group-item-text">Whether you complete your challenge or not, you'll be on your way to a healthier lifestyle.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="inProgress" style="text-align: center; width: 100%; background-color: rgb(52, 69, 87); height: 1000px; padding-top: 200px">
        <img src="/assets/images/spinner.gif"/>
    </div>

    <div ng-if="isAuthenticated()" class="container" style='margin-top: 50px; margin-bottom: 50px' ng-show="!inProgress">
        <div class="row">
            <a class="btn btn-success btn-lg" ui-sref="newchallenge" ng-show="!currentChallenge">Start new challenge!</a>
        </div>
        <div ng-show="currentChallenge" ng-repeat="p in progress">
            <table class="table">
                <tr>
                    <td><strong>Donation Pledged:</strong></td>
                    <td>${{p.amount}}</td>
                </tr>
                <tr>
                    <td><strong>Time Remaining:</strong></td>
                    <td><timer interval="1000" end-time="p.endTime">{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds</timer></td>
                </tr>
                <tr>
                    <td><strong>Distance Remaining:</strong></td>
                    <td>{{p.distanceLeft}} meters</td>
                </tr>
            </table>

            <div class="row">
                <div ng-repeat="p in progress" class="container">
                    <div class="progress progress-striped">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{p.percentsDone}}" aria-valuemin="0" aria-valuemax="100"
                             style="width: {{p.percentsDone}}%">
                            <span class="sr-only">{{p.percentsDone}}% Complete (success)</span>
                            {{p.percentsDone}}%
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <h4 ng-if="currentChallenge">How you're going so far</h4>
                <canvas height="300" width="400" ng-if="currentChallenge" id="myChart"></canvas>
                <div class="" style="height: 300px; width: 300px" ng-if="!currentChallenge">No active challenge</div>
            </div>
            <div class="col-md-7">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Challenge History</strong></div>
                    <!-- Table -->
                    <table class="table">
                        <tr>
                            <th></th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Distance</th>
                            <th>Amount</th>
                        </tr>
                        <tr ng-repeat="f in finished">
                            <td><span ng-class="f.payed ? 'glyphicon glyphicon-heart pink' : 'glyphicon glyphicon-ok green'"></span></td>
                            <td>{{f.startDate | date:'yyyy-MM-dd'}}</td>
                            <td>{{f.endDate | date:'yyyy-MM-dd'}}</td>
                            <td>{{f.distance}} meters</td>
                            <td>${{f.amount}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
