<div class="container" style="margin-top: 50px; margin-bottom: 50px">
    <form>
        <label for="distance">Distance</label>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-road"></span></span>
            <input type="number" class="form-control" id="distance" ng-model="challenge.distance"/>
        </div>
        <small>This is the distance (in meters) that you will attempt to run during your challenge.</small>
        <br/><br/>
        
        <label for="period">Period</label>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            <select class="form-control" id="period" ng-model="challenge.period">
                <option value="THREE_DAYS">3 Days</option>
                <option value="ONE_WEEK">1 Week</option>
                <option value="TWO_WEEKS">2 Weeks</option>
                <option value="ONE_MONTH">1 Month</option>
            </select>
        </div>
        <small>This is the duration of your challenge.</small>
        <br/><br/>
        
        <label>Amount</label>
        <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="number" class="form-control" id="amount" ng-model="challenge.amount"/>
        </div>
        <small>This is the amount you pledge to donate if you fail to complete your fitness goal.</small>

        <div ng-repeat="c in charitys" class="radio">
            <label>
                <input type="radio" name="charities" ng-model="challenge.charityId" value="{{c.id}}">
                {{c.name}}
            </label>
        </div>
        <button class="btn btn-danger pull-right" ng-click="startChallenge()">Let's go</button>
    </form>
</div>
